### PySpark Example
Logistic regression and HPO+CV with PySpark on the Titanic dataset

***
#### Environment
`conda activate pyspark-env`

***
#### Goals
- Explore PySpark API

***
#### References
https://spark.apache.org/docs/latest/api/python/

### Spark initialization

In [1]:
import pyspark
from pyspark.sql import SQLContext, SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL Playground") \
    .master("local[*]") \
    .getOrCreate()


spark.sparkContext.setLogLevel("ERROR")

sqlContext = SQLContext(sparkContext=spark.sparkContext, sparkSession=spark)
print("Spark Version: " + spark.version)
print("PySpark Version: " + pyspark.__version__)

Spark Version: 3.1.1
PySpark Version: 3.1.2

In [2]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

### CSV Data Read - Train

`titanic/train.csv`

| Variable| Definition| Key| 
|:--- |:---   |:--- |
| PassengerId|  	Passenger id|  	| 
| Survived|  	Survival|  	0 = No, 1 = Yes| 
| Pclass|  	Ticket class|  	1 = 1st, 2 = 2nd, 3 = 3rd| 
| Name|  	Passenger name |  	| 
| Sex|  	Sex|  	| 
| Age|  	Age in years|  	| 
| SibSp|  	# of siblings / spouses aboard the Titanic 	| | 
| Parch|  	# of parents / children aboard the Titanic 	| | 
| Ticket|  	Ticket number | 	| 
| Fare|  	Passenger fare 	| | 
| Cabin|  	Cabin number 	| | 
| Embarked|  	Port of Embarkation|  	C = Cherbourg, Q = Queenstown, S = Southampton|

In [3]:
train_df = spark.read.load("../data/titanic/train.csv", format="csv", inferSchema=True,   header="true")
train_df.printSchema()
train_df.show(5)

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

### CSV Data Read - Test

`titanic/test.csv`

| Variable| Definition| Key| 
|:--- |:---   |:--- |
| PassengerId|  	Passenger id|  	| 
| Pclass|  	Ticket class|  	1 = 1st, 2 = 2nd, 3 = 3rd| 
| Name|  	Passenger name |  	| 
| Sex|  	Sex|  	| 
| Age|  	Age in years|  	| 
| SibSp|  	# of siblings / spouses aboard the Titanic 	| | 
| Parch|  	# of parents / children aboard the Titanic 	| | 
| Ticket|  	Ticket number | 	| 
| Fare|  	Passenger fare 	| | 
| Cabin|  	Cabin number 	| | 
| Embarked|  	Port of Embarkation|  	C = Cherbourg, Q = Queenstown, S = Southampton| 

`titanic/gender_submission.csv`

| Variable| Definition| Key| 
|:--- |:---   |:--- |
| PassengerId|  	Passenger id|  	| 
| Survived|  	Survival|  	0 = No, 1 = Yes|

In [4]:
test_df_no_label = spark.read.load("../data/titanic/test.csv", format="csv", inferSchema=True,   header="true")

#test_df_no_label.printSchema()
#test_df_no_label.show(5)

test_df_label = spark.read.load("../data/titanic/gender_submission.csv", format="csv", inferSchema=True,   header="true")

#test_df_label.printSchema()
#test_df_label.show(5)

### Analize null values

In [5]:
from pyspark.sql.functions import isnan,isnull, when, count, col

train_df.select([count(when(isnull(c), c)).alias(c) for c in train_df.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

### Data Preparation

In [6]:
from pyspark.ml.feature import Imputer, StringIndexer, OneHotEncoder, VectorIndexer, VectorAssembler, MinMaxScaler

imputer = Imputer(inputCols=["Age", "Fare"], outputCols=["Age_out", "Fare_out"])

indexer = StringIndexer(inputCols=[ 'Sex', 'Cabin', 'Embarked'], outputCols=[ 'Sex_idx', 'Cabin_idx', 'Embarked_idx'], handleInvalid='keep')

ohe_str = OneHotEncoder(inputCols=indexer.getOutputCols(),
                    outputCols=['Sex_idx_ohe', 'Cabin_idx_ohe', 'Embarked_idx_ohe']
                    )

va_numeric = VectorAssembler(inputCols=['Pclass', 'SibSp', 'Parch'], outputCol='numeric_features_asm')
vi_numeric = VectorIndexer(inputCol=va_numeric.getOutputCol(), outputCol='numeric_cat', handleInvalid='keep')

va_scalers = VectorAssembler(inputCols=imputer.getOutputCols()+ [vi_numeric.getOutputCol()], outputCol='numeric_va_out', handleInvalid='error')
scaler = MinMaxScaler(inputCol=va_scalers.getOutputCol(), outputCol="numeric_scaled")

va_features = VectorAssembler(inputCols=ohe_str.getOutputCols()+[scaler.getOutputCol()], outputCol='features')

### Model

In [7]:
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(maxIter=10, regParam=0.03, featuresCol='features', labelCol='Survived')

### Pipeline

In [8]:
from pyspark.ml import Pipeline

pipeline = Pipeline(stages=[imputer, 
                            indexer, 
                            ohe_str, 
                            va_numeric, 
                            vi_numeric, 
                            va_scalers, 
                            scaler, 
                            va_features, 
                            lr])

### Train

In [9]:
pipeline_model = pipeline.fit(train_df)

### Show results for training data

In [10]:
scored_df = pipeline_model.transform(train_df)
#scored_df.printSchema()
scored_df.show(1, truncate=False, vertical=True)

-RECORD 0-----------------------------------------------------------------------------------------------------------------------
 PassengerId          | 1
 Survived             | 0
 Pclass               | 3
 Name                 | Braund, Mr. Owen Harris
 Sex                  | male
 Age                  | 22.0
 SibSp                | 1
 Parch                | 0
 Ticket               | A/5 21171
 Fare                 | 7.25
 Cabin                | null
 Embarked             | S
 Age_out              | 22.0
 Fare_out             | 7.25
 Sex_idx              | 0.0
 Cabin_idx            | 147.0
 Embarked_idx         | 0.0
 Sex_idx_ohe          | (2,[0],[1.0])
 Cabin_idx_ohe        | (147,[],[])
 Embarked_idx_ohe     | (3,[0],[1.0])
 numeric_features_asm | [3.0,1.0,0.0]
 numeric_cat          | [2.0,1.0,0.0]
 numeric_va_out       | [22.0,7.25,2.0,1.0,0.0]
 numeric_scaled       | [0.2711736617240513,0.014151057562208049,1.0,0.16666666666666666,0.0]
 features             | (157,[0,149,152,153,154,155],[1.0,1.0,0.2711736617240513,0.014151057562208049,1.0,0.16666666666666666])
 rawPrediction        | [2.1229142608675016,-2.1229142608675016]
 probability          | [0.8931104558968489,0.1068895441031511]
 prediction           | 0.0
only showing top 1 row

### Score Test Data

In [11]:
scored_df = pipeline_model.transform(test_df_no_label)

In [21]:
scored_df_with_label = scored_df.join(test_df_label, ['PassengerId'] )
#scored_df_with_label.printSchema()
scored_df_with_label.show(1, truncate=False, vertical=True)

-RECORD 0-----------------------------------------------------------------------------------------------------------------------
 PassengerId          | 892
 Pclass               | 3
 Name                 | Kelly, Mr. James
 Sex                  | male
 Age                  | 34.5
 SibSp                | 0
 Parch                | 0
 Ticket               | 330911
 Fare                 | 7.8292
 Cabin                | null
 Embarked             | Q
 Age_out              | 34.5
 Fare_out             | 7.8292
 Sex_idx              | 0.0
 Cabin_idx            | 147.0
 Embarked_idx         | 2.0
 Sex_idx_ohe          | (2,[0],[1.0])
 Cabin_idx_ohe        | (147,[],[])
 Embarked_idx_ohe     | (3,[2],[1.0])
 numeric_features_asm | [3.0,0.0,0.0]
 numeric_cat          | [2.0,0.0,0.0]
 numeric_va_out       | [34.5,7.8292,2.0,0.0,0.0]
 numeric_scaled       | [0.4282483035938678,0.015281580671177828,1.0,0.0,0.0]
 features             | (157,[0,151,152,153,154],[1.0,1.0,0.4282483035938678,0.015281580671177828,1.0])
 rawPrediction        | [1.8774852746916364,-1.8774852746916364]
 probability          | [0.8673220128132767,0.1326779871867233]
 prediction           | 0.0
 Survived             | 0
-RECORD 1-----------------------------------------------------------------------------------------------------------------------
 PassengerId          | 893
 Pclass               | 3
 Name                 | Wilkes, Mrs. James (Ellen Needs)
 Sex                  | female
 Age                  | 47.0
 SibSp                | 1
 Parch                | 0
 Ticket               | 363272
 Fare                 | 7.0
 Cabin                | null
 Embarked             | S
 Age_out              | 47.0
 Fare_out             | 7.0
 Sex_idx              | 1.0
 Cabin_idx            | 147.0
 Embarked_idx         | 0.0
 Sex_idx_ohe          | (2,[1],[1.0])
 Cabin_idx_ohe        | (147,[],[])
 Embarked_idx_ohe     | (3,[0],[1.0])
 numeric_features_asm | [3.0,1.0,0.0]
 numeric_cat          | [2.0,1.0,0.0]
 numeric_va_out       | [47.0,7.0,2.0,1.0,0.0]
 numeric_scaled       | [0.5853229454636844,0.013663090060062943,1.0,0.16666666666666666,0.0]
 features             | (157,[1,149,152,153,154,155],[1.0,1.0,0.5853229454636844,0.013663090060062943,1.0,0.16666666666666666])
 rawPrediction        | [0.34788648169692615,-0.34788648169692615]
 probability          | [0.5861049625817575,0.4138950374182425]
 prediction           | 0.0
 Survived             | 1
-RECORD 2-----------------------------------------------------------------------------------------------------------------------
 PassengerId          | 894
 Pclass               | 2
 Name                 | Myles, Mr. Thomas Francis
 Sex                  | male
 Age                  | 62.0
 SibSp                | 0
 Parch                | 0
 Ticket               | 240276
 Fare                 | 9.6875
 Cabin                | null
 Embarked             | Q
 Age_out              | 62.0
 Fare_out             | 9.6875
 Sex_idx              | 0.0
 Cabin_idx            | 147.0
 Embarked_idx         | 2.0
 Sex_idx_ohe          | (2,[0],[1.0])
 Cabin_idx_ohe        | (147,[],[])
 Embarked_idx_ohe     | (3,[2],[1.0])
 numeric_features_asm | [2.0,0.0,0.0]
 numeric_cat          | [1.0,0.0,0.0]
 numeric_va_out       | [62.0,9.6875,1.0,0.0,0.0]
 numeric_scaled       | [0.7738125157074641,0.018908740708122825,0.5,0.0,0.0]
 features             | (157,[0,151,152,153,154],[1.0,1.0,0.7738125157074641,0.018908740708122825,0.5])
 rawPrediction        | [1.9807121613517185,-1.9807121613517185]
 probability          | [0.8787570584485128,0.12124294155148718]
 prediction           | 0.0
 Survived             | 0
only showing top 3 rows

### Save prediction in CSV format

In [13]:
scored_df_with_label.select('PassengerId',
                            'Pclass', 
                            'Name', 
                            'Sex',
                            'Age',
                            'SibSp',
                            'Parch',
                            'Ticket',
                            'Fare', 
                            'Cabin', 
                            'Embarked', 
                            'Survived',
                           'prediction').write.csv("./scored_titanic.csv", mode="overwrite", header='true')

### Model Evaluation

In [14]:
from pyspark.mllib.evaluation import BinaryClassificationMetrics

pred_label_df = scored_df_with_label.select(scored_df_with_label.prediction,scored_df_with_label.Survived.cast('float'))

metrics = BinaryClassificationMetrics(pred_label_df.rdd)

# Root mean squared error
print("AuROC curve = %s" % metrics.areaUnderROC)

# R-squared
print("area under the precision-recall curve = %s" % metrics.areaUnderPR)

AuROC curve = 0.930921052631579
area under the precision-recall curve = 0.8851967820621071

### Save Pipeline

In [15]:
pipeline_model.write().overwrite().save("./spark-logistic-regression-pipeline-model")

### Hyperparameter tunning with CrossValidator

In [16]:
%%time
from pyspark.ml.feature import HashingTF, Tokenizer
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.evaluation import BinaryClassificationEvaluator

paramGrid = ParamGridBuilder() \
    .addGrid(imputer.strategy, ['mean', 'median']) \
    .addGrid(ohe_str.dropLast, [True, False]) \
    .addGrid(lr.regParam, [0.1, 0.01, 0.001]) \
    .build()

print("Searching for the optimal Hyperparameters. This will take a while ...")

crossval = CrossValidator(estimator=pipeline,
                          estimatorParamMaps=paramGrid,
                          evaluator=BinaryClassificationEvaluator(labelCol='Survived'),
                          numFolds=3)  # use 3+ folds in practice

# Run cross-validation, and choose the best set of parameters.
cvModel = crossval.fit(train_df)

Searching for the optimal Hyperparameters. This will take a while ...
Wall time: 59.4 s

In [17]:
scored_df_cv= cvModel.transform(test_df_no_label)
scored_df_with_label_cv = scored_df_cv.join(test_df_label, ['PassengerId'] )
pred_label_df_cv = scored_df_with_label_cv.select(scored_df_with_label_cv.prediction,scored_df_with_label_cv.Survived.cast('float'))

metrics_cv = BinaryClassificationMetrics(pred_label_df_cv.rdd)

# Root mean squared error
print("CV AuROC curve = %s" % metrics_cv.areaUnderROC)

# R-squared
print("CV area under the precision-recall curve = %s" % metrics_cv.areaUnderPR)

CV AuROC curve = 0.9375000000000001
CV area under the precision-recall curve = 0.8899193548387097

In [18]:
print("Best model:")
for stage in cvModel.bestModel.stages:
    display (stage)

Best model:

ImputerModel: uid=Imputer_2eb7f354067d, strategy=mean, missingValue=NaN, numInputCols=2, numOutputCols=2

StringIndexerModel: uid=StringIndexer_47c610f325e3, handleInvalid=keep, numInputCols=3, numOutputCols=3

OneHotEncoderModel: uid=OneHotEncoder_0e4318b82683, dropLast=true, handleInvalid=error, numInputCols=3, numOutputCols=3

VectorAssembler_9cf49971179d

VectorIndexerModel: uid=VectorIndexer_559a76b0d72c, numFeatures=3, handleInvalid=keep

VectorAssembler_829569e6e978

MinMaxScalerModel: uid=MinMaxScaler_5185f5358903, numFeatures=5, min=0.0, max=1.0

VectorAssembler_0725dae1b970

LogisticRegressionModel: uid=LogisticRegression_fe5f1d43aab5, numClasses=2, numFeatures=157

In [19]:
scored_df_with_label_cv.sample(False, 0.1).limit(1).show(1, truncate=False, vertical=True)

-RECORD 0------------------------------------------------------------------------------------------------
 PassengerId          | 902
 Pclass               | 3
 Name                 | Ilieff, Mr. Ylio
 Sex                  | male
 Age                  | null
 SibSp                | 0
 Parch                | 0
 Ticket               | 349220
 Fare                 | 7.8958
 Cabin                | null
 Embarked             | S
 Age_out              | 29.69911764705882
 Fare_out             | 7.8958
 Sex_idx              | 0.0
 Cabin_idx            | 147.0
 Embarked_idx         | 0.0
 Sex_idx_ohe          | (2,[0],[1.0])
 Cabin_idx_ohe        | (147,[],[])
 Embarked_idx_ohe     | (3,[0],[1.0])
 numeric_features_asm | [3.0,0.0,0.0]
 numeric_cat          | [2.0,0.0,0.0]
 numeric_va_out       | [29.69911764705882,7.8958,2.0,0.0,0.0]
 numeric_scaled       | [0.36792055349407915,0.015411575213749286,1.0,0.0,0.0]
 features             | (157,[0,149,152,153,154],[1.0,1.0,0.36792055349407915,0.015411575213749286,1.0])
 rawPrediction        | [1.7502436597736208,-1.7502436597736208]
 probability          | [0.8519835319513113,0.14801646804868873]
 prediction           | 0.0
 Survived             | 0